extends ../pug/layout.pug

block meta
  title= MainMenuData['about'].name
  meta(name='description', content='')
  - let myPageTitle = MainMenuData['about'].name;

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  include ../pug/blocks/main-top.pug

  section.features
    each item in FeaturesData
      .feature
        .feature__img-block
          picture.feature__picture
            source(srcset=`${item.img.xs}`, media='(min-width: 0)')
            source(srcset=`${item.img.md}`, media='(min-width: 600px)')
            source(srcset=`${item.img.lg}`, media='(min-width: 768px)')
            source(srcset=`${item.img.xl}`, media='(min-width: 1024px)')
            img.feature__img(src=`${item.img.lg}`, alt=`${item.title}`)

        .feature__text-block
          .feature__text-wrapper
            img.feature__ico(src=`${item.ico}`, alt=`${item.title}`)
            h3.feature__title= item.title
            ul.feature__list
              each el in item.features
                li.feature__item= el

  include ../pug/blocks/main-bottom.pug
